DATABASE_URL=file:/app/data/vpn.db
PORT=3000

XRAY_PORT=443
XRAY_SNI=www.google.com
XRAY_DEST=www.google.com:443
XRAY_SHORT_IDS=

NEXT_PUBLIC_SERVER_ADDRESS=your-app.up.railway.app
NEXT_PUBLIC_SERVER_PORT=443
